    <nb-form-field>
        <nb-icon nbPrefix icon="search"></nb-icon>
        <input type="text" [disabled]="!queryType" nbInput [placeholder]="queryType ? 'Search for ' + queryType : 'Search for topic'" shape="round" [(ngModel)]="query" (ngModelChange)="onInputChange()">
    </nb-form-field>

    <div *ngIf="query">
        <nb-option  *ngFor="let item of searchItems" [value]="item" (click)="onSelectItem(item)">
                <img [src]="item.pictureURL" alt="{{item.name}}" class="item-image">
                {{item.name}}
        </nb-option>
    </div>
