<p>post-tile works!</p>
<div class="row post" *ngFor="let post of posts">
    <nb-card>
        <nb-card-body>
            <div class='card-container'>
                <div class='topic-container'>
                    <img class='topic-picture' [src]="post.topicData.pictureUrl">
                    <div *ngIf='post.topicData.albumName'>
                        <fa-icon [icon]="faCompactDisc"></fa-icon>
                        <span> {{post.topicData.albumName}}</span>
                    </div>
                    <div *ngIf='post.topicData.trackName'>
                        <fa-icon [icon]="faMusic"></fa-icon>
                        <span> {{post.topicData.trackName}}</span>
                    </div>
                    <div>
                        <fa-icon [icon]="faUser"></fa-icon>
                        <span> {{post.topicData.artistName}}</span>
                    </div>
                </div>
                <div class='card-content-container'>
                    <div class='post-title'>{{post.postName}}</div>
                    <div>
                        <span class='username'>Posted by {{post.username}} </span>
                        <span class='duration' >{{post.duration}}</span>
                    </div>
                    <nb-card class='description-container'>
                        <div class='description'>
                            <p class="post-text" [innerHtml]="post.description"></p>
                        </div>
                    </nb-card>
                    <div class='comments'>
                        <a class="btnCommments" role="button">
                            <fa-icon [icon]="faComments"></fa-icon>
                            Comments({{post.commentCount}})
                        </a>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>