

.votebox {    
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2em;
    /* padding-top: 2em; */
    padding-right: 0.7em;
    /* padding-bottom: 2em; */
    /* height: 50%;    */
}

 .upvote,.downvote {
    cursor: pointer;    
}

.upvote-container {
    padding-bottom: 3em;
}

.downvote-container {
    padding-top: 3em;
}

.upvote:hover {
    color: green;
}
.downvote:hover {
    color: red;
}

.votecount{
    font-weight: bold;    
} 